<%-include('./partials/header.ejs')%>

<h1 class="display-4">EFT Ammo Tracker</h1>

<div class="container" style="width:60%">

<img class="img-fluid rounded img-thumbnail" src="https://web-store.escapefromtarkov.com/themes/eft/images/combat_top.jpg">
<p class="lead">Welcome to the Escape From Tarkov Ammo Tracker. Here you will be able to view ammunition types and cartridges within the game, stats specific to individual cartridges, and add your own entries.</p>

<a class="btn btn-outline-dark" href="/ammo">View Ammo</a>

</div>

<%- include('./partials/footer.ejs') %>