<%-include('./partials/header.ejs')%>
<h1 class="display-4">EFT Ammo Tracker</h1>
<div class="container" style="width:60%">

<p class="lead">Welcome to the ammo tracking app for Escape From Tarkov. Here you will be able to view ammunition types and cartridges within the game, along with cartridge-specific stats.</p>

    <a class="btn btn-outline-secondary" href="/ammo">View Ammo</a>
    <a class="btn btn-outline-secondary" href="#">Sign Up</a>
    <a class="btn btn-outline-secondary" href="#">Sign In</a>
</div>

<%- include('./partials/footer.ejs') %>